@import url('https://fonts.googleapis.com/css?family=Exo:300,400,500,600,700|Roboto:300,400,500,700|Overpass+Mono:300,400,600,700');

/* NavBar */

.navbar {
    margin-bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border: 0;
}

.navbar-inverse {
    background-color: rgba(34, 34, 34, 0.67);
    border-color: #080808;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-collapse {
    float: none;
    padding: 9px 0px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #797979;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}

.navbar li a:hover {
    background-color: #111;
}

.nav-item {
    font-family: "exo", sans-srif;
    font-weight: 600;
    font-size: 17px;
    padding: 0 4em;
    color: #fafafa
}

.collapse-bg {
    background-color: rgba(34, 34, 34, 0.45)
}

/* BG colors */

.pale-body-bg {
    background-color: #282828;
    min-height: 100vh;
}

.pale-body-bg-about {
    background-color: #282828;
    min-height: 75vh;
}

/* Breaks */

.pale-break {
    width: 95px;
    height: 3px;
    border: 0;
    background-color: #444;
}

.pale-break2 {
    width: 60px;
    height: 3px;
    border: 0;
    background-color: #444;
}



/* Homepage-lander */

.pale-home {
    height: 90vh;
    /* background: url(../Image/4banner.png) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pale-home2 {
    height: 90vh;
     background: url(../Image/4banner.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Homepage */

.pale-body-text {
    font-family: 'Overpass Mono', monospace;
    color: #9c9c9c;
}

.pale-body {
    text-align: center;
}


.pale-logo {
    font-weight: 400;
}

.pale-about {
    font-weight: 300;
}

/* About Tarot Cards */

.about-artwork {
    padding: 0;
}

.tarot-row {
    margin: 0;
}

.album-title {
    font-weight: 400;
}

.album-date {
    font-weight: 300;
}

/* Gigs */

.pale-gigs {
    margin-bottom: 0;
}

.pale-gigs-city {
    margin-top: 10px;
}

/* About */

.pale-member {
    padding-bottom: 1em;
    text-align: center;
}

.member-img {
    height: 250px;
    width: 250px;
    border-radius: 2px;
    -webkit-box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.75);
}

.member-name {
    margin-top: 20px;
}

/* MEDIA */

/* .song-artwork {
    width: 100%;
} */

.artwork-holder {
    text-decoration: underline;
}

.row-no-margin {
    margin: 0;
}

/* CONTACT */

.btn-form {
    margin-top: 10px;
}

/*Footer*/

.pale-footer {
    background-color: #222222;
    color: #fafafa;
    max-height: 60px;
    margin: 0;
    padding: 0;

}

.social-links {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding-top: 14px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 3px;
    text-align: center;
    color: #e2e0dd;
    background: rgba(143, 143, 143, 0.25);
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    background: rgba(143, 143, 143, 1);
}

#pale-footer-container {
    padding: 0;
}


/*MEDIA*/

@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}


@media (max-width: 365px) {

    .song-artwork {
        width: 100%;
    }

}
