@import url('https://fonts.googleapis.com/css?family=Exo:300,400,500,600,700|Roboto:300,400,500,700');




/*Nav Bar */


/* Homepage */

.pale-home {
    height: 100vh;
    background-color: #1f1f1f;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

