@import url('https://fonts.googleapis.com/css?family=Exo:300,400,500,600,700|Roboto:300,400,500,700');




/*Nav Bar */


/* Homepage */

.pale-home {
    height: 100vh;
    background: url(../Image/palebk.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* NavBar */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border: 0;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.nav-item {
    font-family: "exo", sans-srif;
    font-weight: 600;
    font-size: 17px;
    padding: 0 4em;
}

@media (min-width: 768px) {
   
   
    .navbar-nav {
    float: none;
    }
}